.item-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 0px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  width: calc(100% - 5px);
  width: 100%; /* Ensure the width is responsive */
  max-width: 100%;
}
.out-of-stock{
  position: relative;
  opacity: 0.6;
}
.out-of-stock-label{
  position: absolute;
  top: 110px;
  right: 35px;
  background-color: red;
  color: white;
  padding: 5px 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  z-index: 1;
}
.item-details h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.item-details img {
  width: 150px; /* Adjust image width as needed */
  margin-bottom: 15px;
}

.item-details p {
  margin-bottom: 5px;
  font-size: 16px;
}

.item-details h6 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.item-details button {
  background-color: #ffc107; /* Gold color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.item-details button:hover {
  background-color: #ebb102; /* Lighter shade of gold on hover */
  font-weight: 600;
}

/* Styling for input */
.item-details input[type="number"] {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Disabled button style */
.item-details button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.p123, .pc123{
  color: black;
  align-self:center;
  text-align: center;
}
.item-details h4 {
  margin-bottom: 10px;
  font-size: 24px; /* Increased font size */
  font-weight: bold;
  color: #28a745; /* Green color */
}
.pc123{
  font-style: italic;
  font-weight: normal;
}
.btnAdd{
  font-weight: normal;
  color: #75a79f;
}

